# ==============================
# STG3 CONFIG
# ==============================

[GENERAL]
symbol = NIFTY 50
mode = live
qty = 50

[DATA]
csv_file = data.csv

[STRATEGY]
initial_wait_time = 60
max_range = 50

# dynamic → CE up / PE down
# fixed_ce → always CE
# fixed_pe → always PE
breakout_type = dynamic

rr_activate = 2
hard_rr_exit = 2

[LOGGING]
enable_minute_log = true
enable_summary_log = true